footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #EAEEF1;
    width: 100%;
}

.footer-content {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo img {
    width: 22rem;
}

.footer-contact p,a {
    color: #592e83;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.footer-contact a{
    color: #6666CC;
    transition: all .25s;
}

#footer-title{
    color: #592e83;
    font-size: 26px;
    font-weight: bold;
}

.footer-social img {
    width: 2rem;
    margin: 0 1rem;
}

.footer-contact a:hover{
    color: #CE0000;
}