.navbar {
  background-color: #592e83;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 0.5rem;
  row-gap: 2rem;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; /* to prevent the navbar getting covered up by other content */
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 2rem;
}

.links {
  display: flex;
  flex-direction: row;
}

.logo {
  margin-left: 2rem;
}

.banner-nav {
  max-width: 12rem;
}

.login {
  margin-right: 2rem;
}


/*
-----------------------------------
            ANIMAÇÃO 
-----------------------------------
*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: black;
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #230c33;
  height: 1px;
}

nav ul li a:hover:after {
  width: 100%;
}