.navbar {
  background-color: #592e83;
  text-transform: uppercase;
  padding-top: 0.5rem;
  row-gap: 2rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 2rem;
  font-size: 24px;
}

.links-nav {
  display: flex;
  flex-direction: row;
}

.logo-nav {
  margin-left: 2rem;
}

.logo-nav img {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  max-width: 12rem;
}

.login-nav {
  margin-right: 2rem;
}


/*
-----------------------------------
            ANIMAÇÃO 
-----------------------------------
*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: black;
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #230c33;
  height: 1px;
}

nav ul li a:hover:after {
  width: 100%;
}

.logo img:hover{
  opacity: 0.5;
}