.contact-page{
    background-color: #EAEEF1;
    color: #230c33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    margin: 2rem 0 0 0; 
    text-align: center;
}

.title h2{
    font-size: 2.5rem;
    font-weight: bold;
}

.title p{
    font-size: 1.5rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-form{
    background-color: #592e83;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
    width: 40vw;
    padding: 0.5rem;
    margin: 1.5rem 0;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all .25s;
}

.button-form:hover{
    background-color: #CE0000;
}